$bl-1E: #1E1E1E; // blog msg title / star
$bl-21: #212121;
$bl-27: #172327;
$bl-53: #535353; // blog msg text

$gr-DE: #E1E0DE;
$gr-E1: #E1E1E1;
$wt-F0: #DEE5F0;
$wt-F1: #E5EAF1;

$wt: #fff;

$pink-78: #FF3C78; // button still
$pink-67: #DD3267; // button active
$blue-CF: #2241CF; // button still
$blue-BA: #2D46BA; // button active

$sand-43: #F0B143;
$green-53: #4FC553;
$cyan-C9: #59D7C9;
$cream-F2: #F9F5F2; // blog msg bg
$beige-C6: #FFDEC6;
$blue-A4: #0069A4;


// @include media('min', 'sm') { }
// @include media('min', 'lg') { }
