@font-face {
  font-family: 'Satoshi-Regular';
  src: local('Satoshi Regular'), local('Satoshi-Regular');
  src: url('@/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Satoshi-Regular.woff') format('woff'),
      url('@/assets/fonts/Satoshi-Regular.eot?#iefix') format('embedded-opentype');
      font-weight: 400;
      font-display: swap;
      font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Medium';
  src: local('Satoshi Medium'), local('Satoshi-Medium');
  src: url('@/assets/fonts/Satoshi-Medium.woff2') format('woff2'),
      url('@/assets/fonts/Satoshi-Medium.woff') format('woff'),
      url('@/assets/fonts/Satoshi-Medium.eot?#iefix') format('embedded-opentype');
      font-weight: 500;
      font-display: swap;
      font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: local('Satoshi Bold'), local('Satoshi-Bold');
  src: url('@/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
      url('@/assets/fonts/Satoshi-Bold.woff') format('woff'),
      url('@/assets/fonts/Satoshi-Bold.eot?#iefix') format('embedded-opentype');
      font-weight: 700;
      font-display: swap;
      font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: local('Satoshi Bold'), local('Satoshi-Bold');
  src: url('@/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
      url('@/assets/fonts/Satoshi-Bold.woff') format('woff'),
      url('@/assets/fonts/Satoshi-Bold.eot?#iefix') format('embedded-opentype');
      font-weight: 700;
      font-display: swap;
      font-style: normal;
}
@font-face {
  font-family: 'Lato-Black';
  src: local('Lato Black'), local('Lato-Black');
  src: url('@/assets/fonts/Lato-Black.eot');
  src: url('@/assets/fonts/Lato-Black.woff2') format('woff2'),
      url('@/assets/fonts/Lato-Black.woff') format('woff'),
      url('@/assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype');
      font-weight: 900;
      font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto Bold'), local('Roboto-Bold');
  src: url('@/assets/fonts/Roboto-Bold.eot');
  src: url('@/assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Roboto-Bold.woff') format('woff'),
      url('@/assets/fonts/Roboto-Bold.woff2') format('woff2');
      font-weight: 700;
      font-style: normal;
}

:root {
  font-size: 16px;
}
body {
  font-family: 'Satoshi-Regular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}


