@font-face {
  font-family: 'Roboto-LightItalic';
  src: local('Roboto Light-Italic'), local('Roboto-LightItalic');
  src: url('@/assets/fonts/Roboto-LightItalic.eot');
  src: url('@/assets/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Roboto-LightItalic.otf') format('otf'),
      url('@/assets/fonts/Roboto-LightItalic.woff') format('woff'),
      url('@/assets/fonts/Roboto-LightItalic.woff2') format('woff2');
      font-display: swap;
      font-style: italic;
      font-weight: 300;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto Regular'), local('Roboto-Regular');
  src: url('@/assets/fonts/Roboto-Regular.eot');
  src: url('@/assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Roboto-Regular.otf') format('otf'),
      url('@/assets/fonts/Roboto-Regular.woff') format('woff'),
      url('@/assets/fonts/Roboto-Regular.woff2') format('woff2');
      font-display: swap;
      font-style: normal;
      font-weight: 400;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto Medium'), local('Roboto-Medium');
  src: url('@/assets/fonts/Roboto-Medium.eot');
  src: url('@/assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Roboto-Medium.otf') format('otf'),
      url('@/assets/fonts/Roboto-Medium.woff') format('woff'),
      url('@/assets/fonts/Roboto-Medium.woff2') format('woff2');
      font-display: swap;
      font-style: normal;
      font-weight: 500;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto Bold'), local('Roboto-Bold');
  src: url('@/assets/fonts/Roboto-Bold.eot');
  src: url('@/assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/Roboto-Bold.woff') format('woff'),
      url('@/assets/fonts/Roboto-Bold.woff2') format('woff2');
      font-display: swap;
      font-weight: 700;
      font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: local('Satoshi Bold'), local('Satoshi-Bold');
  src: url('@/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
      url('@/assets/fonts/Satoshi-Bold.woff') format('woff'),
      url('@/assets/fonts/Satoshi-Bold.eot?#iefix') format('embedded-opentype');
      font-weight: 700;
      font-display: swap;
      font-style: normal;
}

:root {
  font-size: 16px;
}
body {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
