@mixin H1 {
  font-family: 'Lato-Black';
  font-size: 72px;
  line-height: 96px;
}
@mixin H2 {
  font-family: 'Lato-Black';
  font-size: 64px;
  line-height: 86px;
}
@mixin H3 {
  font-family: 'Lato-Black';
  font-size: 56px;
  line-height: 66px;
}
@mixin H4 {
  font-family: 'Lato-Black';
  font-size: 48px;
  line-height: 64px;
}
@mixin H5 {
  font-family: 'Lato-Black';
  font-size: 40px;
  line-height: auto;
}
@mixin H6 {
  font-family: 'Lato-Black';
  font-size: 32px;
  line-height: 44px;
}
@mixin H7 {
  font-family: 'Lato-Black';
  font-size: 32px;
  line-height: 44px;
}
@mixin H8 {
  font-family: 'Lato-Black';
  font-size: 24px;
  line-height: 32px;
}
@mixin H9 {
  font-family: 'Lato-Black';
  font-size: 20px;
  line-height: 28px;
}
@mixin H10 {
  font-family: 'Lato-Black';
  font-size: 40px;
  line-height: auto;
}
@mixin H11 {
  font-family: 'Lato-Black';
  font-size: 32px;
  line-height: 44px;
}
@mixin H12 {
  font-family: 'Lato-Black';
  font-size: 32px;
  line-height: 44px;
}
@mixin H13 {
  font-family: 'Lato-Black';
  font-size: 24px;
  line-height: 32px;
}
@mixin H14 {
  font-family: 'Lato-Black';
  font-size: 20px;
  line-height: 28px;
}
